body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  padding-top: 60px;
}

.panel-default{
  border: 0;
}

.panel-wrapper .panel{
  margin:0;
}

.panel-default .panel-heading{
  background: white;
  border: 0;
  padding: 0;
  margin-left: -10px;
}

.panel-title{
  font-size: 32px;
}

.panel-default .panel-body{
  border-left: solid gray 3px;
  border-bottom: solid gray 2px;
  border-bottom-left-radius: 5px;
}

.ref{
  margin-top: -60px;
}

.panel-heading .panel-title{
  border: 0;
  background: white;
}

.panel-heading .panel-title a{
  text-decoration: none;
}

.panel-heading .panel-title a:hover{
  text-decoration: none;
}

.panel-heading .panel-title h1{
  margin: 0;
}

b, p{
  display: inline;
}

.navbar-brand{
  padding-right: 0px;
}

.navbar-brand a{
  text-decoration: underline;
  color: rgb(157,157,157);
}

.navbar-brand a:hover {
  text-decoration: underline;
  color: white;
}